Re-Order Ref-Entries in Section 1.2 Normative References

Inside the current revision of the workproduct [odata-core-v1.0-wd01-part1-protocol-2012-11-22.doc](https://www.oasis-open.org/committees/download.php/47541/odata-core-v1.0-wd01-part1-protocol-2012-11-22.doc) in section 1.2 Normative References (on page 6 of 44) the ordering of the references is not sorted like it should be.

The bibliography in that sections reads now (ellipsis indicates cut-out content not relevant for the issue):
"""
[OData-URL] 	...
[OData-CSDL] 	...
[OData-Atom] ...
[OData-JSON]  ...
[RFC2046] ...
[RFC2119] ...
[RFC5789] ...
[RFC2616] ...
[RFC5023] ...

"""



### Proposal

We should list the entries in the following sequence:
"""
[OData-Atom] ...
[OData-CSDL] 	...
[OData-JSON]  ...
[OData-URL] 	...
[RFC2046] ...
[RFC2119] ...
[RFC2616] ...
[RFC5023] ...
[RFC5789] ...
"""

Imported from [ODATA-176](https://issues.oasis-open.org/browse/ODATA-176)