Replace references to RFC7230, RFC7231, and RFC7232 with RFC9110

[RFC9110](https://datatracker.ietf.org/doc/html/rfc9110) obsoletes [RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230), [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231), [RFC 7232](https://datatracker.ietf.org/doc/html/rfc7232) (and others we don't reference)

### Proposal

See description

Imported from [ODATA-1595](https://issues.oasis-open.org/browse/ODATA-1595)