Referenced RFC4646 (has inconsistency in entry) and should be replaced by RFC5646, since the latter obsoleted the former since September 2009

In WD01 inside the section "1.2 Normative References" the reference [RFC4646] i.e. Phillips, A., "Tags for Identifying Languages", BCP 47, RFC 2119, September 2006. http://www.ietf.org/rfc/rfc4646.txt 
is obsoleted by [RFC5646] i.e. Phillips, A. and  Davis, M., "Tags for Identifying Languages", BCP 47, RFC 5646, September 2009, http://www.ietf.org/rfc/rfc5646.txt

The inconsistency is the "RFC 2119" inside the obsoleted entry.

### Proposal

Replace reference to RFC4646 with [RFC5646] i.e. Phillips, A. and  Davis, M., "Tags for Identifying Languages", BCP 47, RFC 5646, September 2009, http://www.ietf.org/rfc/rfc5646.txt

Imported from [ODATA-8](https://issues.oasis-open.org/browse/ODATA-8)