The HTTP Specification document referenced in the OData Protocol Spec has been obsoleted

The Normative References section in the OData Protocol spec  (http://docs.oasis-open.org/odata/odata/v4.0/os/part1-protocol/odata-v4.0-os-part1-protocol.html#_Toc372793589) includes the following reference

[RFC2616]                  Fielding, R., Gettys, J., Mogul, J., Frystyk, H., Masinter, L., Leach, P., and T. Berners-Lee, “Hypertext Transfer Protocol -- HTTP/1.1”, RFC 2616, June 1999. http://www.ietf.org/rfc/rfc2616.txt.

The page https://www.rfc-editor.org/info/rfc2616 shows that RFC2616 has been obsoleted by the following six RFCs

RFC 7230 - Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing, JUNE 2014
RFC 7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content, JUNE 2014
RFC 7232 - Hypertext Transfer Protocol (HTTP/1.1): Conditional Requests, JUNE 2014
RFC 7233 - Hypertext Transfer Protocol (HTTP/1.1): Range Requests, JUNE 2014
RFC7234 - Hypertext Transfer Protocol (HTTP/1.1): Caching, JUNE 2014
RFC7235 - Hypertext Transfer Protocol (HTTP/1.1): Authentication, JUNE 2014

Additionally the following items are also referenced in the Normative References section of the Protocol spec

[HTTP-Prefer]            Snell, J., "Prefer Header for HTTP", draft-snell-http-prefer-18, January 2013. https://datatracker.ietf.org/doc/draft-snell-http-prefer/.
[HTTP-Message]        Fielding, R., Ed. and J. Reschke, Ed., “Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing” draft-ietf-httpbis-p1-messaging-22, 23 February 2013. https://datatracker.ietf.org/doc/draft-ietf-httpbis-p1-messaging/.
[HTTP-Semantics]     Fielding, R., Ed. and J. Reschke, Ed., “Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content” draft-ietf-httpbis-p2-semantics-22, 23 February 2013 https://datatracker.ietf.org/doc/draft-ietf-httpbis-p2-semantics/.
[HTTP-Conditional]    Fielding, R., Ed. and J. Reschke, Ed., “Hypertext Transfer Protocol (HTTP/1.1): Conditional Requests” draft-ietf-httpbis-p4-conditional-22, 23 February 2013 https://datatracker.ietf.org/doc/draft-ietf-httpbis-p4-conditional/.

These have been replaced as follows

"Prefer Header for HTTP", draft-snell-http-prefer is now RFC 7240.

Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing” draft-ietf-httpbis-p1-messaging is now RFC 7230

Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content” draft-ietf-httpbis-p2-semantics is now RFC 7231

Hypertext Transfer Protocol (HTTP/1.1): Conditional Requests” draft-ietf-httpbis-p4-conditional is now RFC 7232

### Proposal

Substitute [RFC2617] by [RFC7617] Reschke, J., "The 'Basic' HTTP Authentication Scheme", RFC 7617, September 2015. http://www.ietf.org/rfc/rfc7617.txt


Imported from [ODATA-985](https://issues.oasis-open.org/browse/ODATA-985)