RFC and W3C citation content and formats in odata-atom-format-v4.0-wd01-2013-03-19-with-comments, odata-json-format-v4.0-wd01-2013-03-19-with-comments and odata-core-v4.0-wd01-part1-protocol-2013-4-5-with-comments

OData Normative References

I have reviewed the normative references in:

odata-atom-format-v4.0-wd01-2013-03-19-with-comments, odata-json-format-v4.0-wd01-2013-03-19-with-comments and odata-core-v4.0-wd01-part1-protocol-2013-4-5-with-comments.

I have compared the RFC citations with the canonical guide to RFC citations at: http://www.rfc-editor.org/in-notes/rfc-ref.txt and proposed changes in the current citations to conform with the IETF guide.

I have also noted the IETF status with regard to each RFC, which may be an issue with its citation as a "normative" reference. Drafts for example, being disfavored as normative references. On RFC status, see: http://www.rfc-editor.org/rfcxx00.html for a current listing.

In checking the citations, I noted where the citations appear in the references only, not in the substantive text.

************************

odata-atom-format-v4.0-wd01-2013-03-19-with-comments 


Normative references


Reads: [RFC2119] S. Bradner, "Key words for use in RFCs to Indicate Requirement Levels", IETF RFC 2119, March 1997. http://www.ietf.org/rfc/rfc2119.txt. 


Correct: [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate Requirement Levels", BCP 14, RFC 2119, March 1997. http://www.ietf.org/rfc/rfc2119.txt.

IETF Status: Best Current Practice

*****

Reads: [RFC 2616] R. Fielding, J. Gettys, J. Mogul, H. Frystyk, L. Masinter, P. Leach, T. Berners-Lee, "Hypertext Transfer Protocol -- HTTP/1.1", IETF RFC 2616, June 1999. http://www.ietf.org/rfc/rfc2616.txt.

Correct: [RFC 2616] Fielding, R., Gettys, J., Mogul, J., Frystyk, H., Masinter, L., Leach, P., and T. Berners-Lee, "Hypertext Transfer Protocol -- HTTP/1.1", RFC 2616, June 1999. http://www.ietf.org/rfc/rfc2616.txt.

IETF Status: Draft Standard

Only cited in references. 

*****

Reads: [RFC3629] F. Yergeau, "UTF-8, a transformation format of ISO 10646", IETF RFC 3629, November 2003. http://tools.ietf.org/html/rfc3629. 

Correct: [RFC3629] Yergeau, F., "UTF-8, a transformation format of ISO 10646", STD 63, RFC 3629, November 2003. http://tools.ietf.org/html/rfc3629.

IETF Status: Internet Standard

Only cited in references.

*****

Reads: [RFC3987] M. Duerst, M. Suignard, "Internationalized Resource Identifiers (IRIs)", IETF RFC 3987, Januar 2005. http://www.ietf.org/rfc/rfc3987.txt.

Correct: [RFC3987] Duerst, M. and M. Suignard, "Internationalized Resource Identifiers (IRIs)", RFC 3987, January 2005. http://www.ietf.org/rfc/rfc3987.txt.

IETF Status: Proposed Standard

*****

Reads: [RFC4287] M. Nottingham, Ed., R. Sayre, Ed. "The Atom Syndication Format", IETF RFC 4287, December 2005. http://www.ietf.org/rfc/rfc4287.txt.

Correct: [RFC4287] Nottingham, M., Ed., and R. Sayre, Ed., "The Atom Syndication Format", RFC 4287, December 2005. http://www.ietf.org/rfc/rfc4287.txt.

IETF Status: Proposed Standard

*****

Reads: [RFC5023] J. Gregorio, Ed., B. de hOra, Ed., "The Atom Publishing Protocol", IETF RFC 5023, October 2007. http://www.ietf.org/rfc/rfc5023.txt.

Correct: [RFC5023] Gregorio, J., Ed., and B. de hOra, Ed., "The Atom Publishing Protocol", RFC 5023, October 2007. http://www.ietf.org/rfc/rfc5023.txt.

IETF Status: Proposed Standard

*****

Reads: [RFC5646] Phillips, A., "Tags for Identifying Languages", BCP 47, IETF RFC 5646, September 2009. http://tools.ietf.org/html/rfc5646. 

Correct: [RFC5446] Phillips, A., Ed., and M. Davis, Ed., "Tags for Identifying Languages", BCP 47, RFC 5646, September 2009. http://tools.ietf.org/html/rfc5646.

IETF Status: Best Current Practice

*****

Reads: [RFC6721] Snell, J., "The Atom 'deleted-entry' Element", IETF RFC 6721, September 2012, http://tools.ietf.org/html/rfc6721. 

Correct: [RFC6721] Snell, J., "The Atom "deleted-entry" Element", RFC 6721, September 2012. http://tools.ietf.org/html/rfc6721.

IETF Status: Proposed Standard

3 references in text.

*****

W3C biblography server - http://www.w3.org/2002/01/tr-automation/tr-biblio-ui

Reads: [XML-Schema-2] Peterson, D. et al., "W3C XML Schema Definition Language (XSD) 1.1 Part 2: Datatypes", W3C Recommendation, 5 April 2012. http://www.w3.org/TR/xmlschema11-2/.

Correct: XMLSCHEMA11-2
W3C XML Schema Definition Language (XSD) 1.1 Part 2: Datatypes , S. Gao Gao, P. V. Biron, A. Malhotra, A. Malhotra, D. Peterson, H. S. Thompson, C. M. Sperberg-McQueen, Editors, W3C Recommendation, 5 April 2012, http://www.w3.org/TR/2012/REC-xmlschema11-2-20120405/ . Latest version available at http://www.w3.org/TR/xmlschema11-2/ .  

*****

BTW, OData-JSON and OData-URL only appear in the references.


**************************************

odata-json-format-v4.0-wd01-2013-03-19-with-comments

Normative references


Reads: [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate Requirement Levels", BCP 14, RFC 2119, March 1997. http://www.ietf.org/html/rfc2119.

Correct: [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate Requirement Levels", BCP 14, RFC 2119, March 1997. http://www.ietf.org/rfc/rfc2119.txt.

Best Current Practice

*****

Reads: [RFC3986] T. Berners-Lee, R. Fielding, L Masinter, "Uniform Resource Identifier (URI): Generic Syntax", IETF RFC3986, January 2005. http://www.ietf.org/html/rfc3986. 

Correct: [RFC3986] Berners-Lee, T., Fielding, R., and L. Masinter, "Uniform Resource Identifier (URI): Generic Syntax", STD 66, RFC 3986, January 2005. http://www.ietf.org/html/rfc3986.

IETF Status: Internet Standard

*****

Reads: [RFC3987] M. Duerst, M. Suignard, "Internationalized Resource Identifiers (IRIs)", IETF RFC3987, January 2005. http://www.ietf.org/html/rfc3987. 

Correct: [RFC3987] Duerst, M. and M. Suignard, "Internationalized Resource Identifiers (IRIs)", RFC 3987, January 2005. http://www.ietf.org/rfc/rfc3987.txt.

IETF Status: Proposed Standard

*****

Reads: [RFC4627] Crockford, D., "The application/json Media Type for JavaScript Object Notation (JSON)", RFC 4627, July 2006. http://tools.ietf.org/html/rfc4627. 

Correct: [RFC4627] Crockford, D., "The application/json Media Type for JavaScript Object Notation (JSON)", RFC 4627, July 2006. http://tools.ietf.org/html/rfc4627.

IETF Status: Informational

*****

Reads: [RFC5646] Phillips, A., "Tags for Identifying Languages", BCP 47, RFC 5646, September 2009. http://tools.ietf.org/html/rfc5646. 

Correct: [RFC5646] Phillips, A., Ed., and M. Davis, Ed., "Tags for Identifying Languages", BCP 47, RFC 5646, September 2009. http://tools.ietf.org/html/rfc5646.

IETF Status: Best Current Practice

Note: The ATOM part omits RFC3986. Was that intentional?


***********************************

odata-core-v4.0-wd01-part1-protocol-2013-4-5-with-comments


Normative references


Reads: [RFC2046] Freed, N., et al, "Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types", RFC 2046, November, 1996. http://www.ietf.org/rfc/rfc2046.txt

Correct: [RFC2046] Freed, N. and N. Borenstein, "Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types", RFC 2046, November 1996. http://www.ietf.org/rfc/rfc2046.txt.

IETF Status: Draft Standard

*****

Reads: [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate Requirement Levels", BCP 14, RFC 2119, March 1997. http://www.ietf.org/rfc/rfc2119.txt.

Correct: [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate Requirement Levels", BCP 14, RFC 2119, March 1997. http://www.ietf.org/rfc/rfc2119.txt.

IETF Status: Best Current Practice

*****

Reads: [RFC2616] Fielding, R., et al, "Hypertext Transfer Protocol -- HTTP/1.1.", RFC 2616, June 1999. http://www.ietf.org/rfc/rfc2616.txt.

Correct: [RFC 2616] Fielding, R., Gettys, J., Mogul, J., Frystyk, H., Masinter, L., Leach, P., and T. Berners-Lee, "Hypertext Transfer Protocol -- HTTP/1.1", RFC 2616, June 1999. http://www.ietf.org/rfc/rfc2616.txt.

IETF Status: Draft Standard

*****

Reads: [RFC5023] Gregorio, J., et al, "The Atom Publishing Protocol.", RFC 5023, October 2007. http://tools.ietf.org/html/rfc5023.

[RFC5023] Gregorio, J., Ed., and B. de hOra, Ed., "The Atom Publishing Protocol", RFC 5023, October 2007. http://www.ietf.org/rfc/rfc5023.txt.

IETF Status: Proposed Standard

*****

Reads: [RFC5789] Dusseault, L., et al, "Patch Method for HTTP", RFC 5789, March 2010. http://tools.ietf.org/html/rfc5789.

Correct: [RFC5789] Dusseault, L. and J. Snell, "PATCH Method for HTTP", RFC 5789, March 2010. http://tools.ietf.org/html/rfc5789.

IETF Status: Proposed Standard

*****

HTTP-Semantic cited only in references.

BTW, the "replace with RFC when approved" depends on the status of the RFC. Yes? draft, proposed standard, standard, etc.


### Proposal

Included in the description.

Imported from [ODATA-347](https://issues.oasis-open.org/browse/ODATA-347)