More clearly define extensibility of Formats

The ATOM format already says, in section 15, that additional payload may be returned anywhere supported by Section 6 of [RFC4287], but that extensions must not be in the OData namespaces and should not be required to be understood by the client in order for the payload to be correctly interpreted.

In ATOM we should be clear that this means that the service may return additional children of the <feed> or <entry> elements, and that it is safe for the client to ignore anything (in any namespace, including the odata namespace) not defined in the version of the payload being returned. This allows for forward compatibility of incremental information without rev'ing the payload version.

In JSON we should be clear that clients should ignore annotations (in any namespace, including the odata namespace), as well as objects with an odata.kind, that are not defined in the version of the payload being returned.

### Proposal

Add to [Core] that client should be prepared to handle (and can safely ignore) unknown annotations, including those with the odata prefix but not defined in the current version of the payload.

Add to [ATOM] that clients should be prepared to handle (and can safely ignore) additional elements or attributes in any namespace, including elements and attributes in the odata namespace and annotations prefixed with odata, that are not defined in the version of the payload being returned.

Add to [JSON] that clients should be prepared to handle (and safely ignore) annotations in any namespace, including the odata namespace and objects with an odata.kind that are not defined in the version of the payload being returned.

Accepted: https://www.oasis-open.org/committees/download.php/48346/odata-meeting-26_on-20130221-minutes.html#odata-247

Imported from [ODATA-247](https://issues.oasis-open.org/browse/ODATA-247)