Align wording on "safe" and "idempotent" with RFC 7231

Align text with [RFC 7231, Section 4.2](https://datatracker.ietf.org/doc/html/rfc7231#section-4.2).

### Proposal

In [2 Repeatable Requests](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/cs01/repeatable-requests-v1.0-cs01.html#sec_RepeatableRequest) change
> An _unsafe request_ is a <del>non-idempotent request; that is, a</del> request which has the potential to change the service each time it is executed.
> 

In [10.2 Client Conformance](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/cs01/repeatable-requests-v1.0-cs01.html#sec_ClientConformance) change

> 
> If a client wants to <del>safely</del> repeat a request, a client:
> 1. MUST specify the [Repeatability-Request-ID](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/cs01/repeatable-requests-v1.0-cs01.html#_Repeatability-Request-ID) header in an unsafe request (section [3.1.1](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/cs01/repeatable-requests-v1.0-cs01.html#_Repeatability-Request-ID))
> 1. MUST specify the [Repeatability-First-Sent](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/cs01/repeatable-requests-v1.0-cs01.html#_Repeatability-First-Sent) header in <del>a</del> <ins>an</ins> unsafe request (section [3.1.2](https://docs.oasis-open.org/odata/repeatable-requests/v1.0/cs01/repeatable-requests-v1.0-cs01.html#_Repeatability-First-Sent))
> 


Imported from [ODATA-1463](https://issues.oasis-open.org/browse/ODATA-1463)